import request from '@/utils/request'

// 查询${functionName}列表
export function list${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/list',
    method: 'get',
    params: query
  })
}

// 查询${functionName}详细
export function get${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/${moduleName}/${businessName}/info/' + ${pkColumn.javaField},
    method: 'get'
  })
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}/add',
    method: 'post',
    data: data
  })
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}/edit',
    method: 'put',
    data: data
  })
}

// 失效${functionName}
export function lapse${BusinessName}(${pkColumn.javaField}s) {
  return request({
    url: '/${moduleName}/${businessName}/lapse/' + ${pkColumn.javaField}s,
    method: 'put'
  })
}

// 生效${functionName}
export function effect${BusinessName}(${pkColumn.javaField}s) {
  return request({
    url: '/${moduleName}/${businessName}/effect/' + ${pkColumn.javaField}s,
    method: 'put'
  })
}

// 删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}s) {
  return request({
    url: '/${moduleName}/${businessName}/remove/' + ${pkColumn.javaField}s,
    method: 'delete'
  })
}
